[submodule "Hexalith.Builds"]
	path = references/Hexalith.Builds
	url = https://github.com/Hexalith/Hexalith.Builds.git
[submodule "Hexalith.AI.Tools"]
	path = references/Hexalith.AI.Tools
	url = https://github.com/Hexalith/Hexalith.AI.Tools.git
